pipeline/pl_ingestion.json
{
	"name": "pl_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Fetch_Tables_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch_Tables_lookup",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch_Tables_lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_data_SS_blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@dataset().sqlQuery\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"sqlQuery": "@concat('SELECT * FROM ', item().TABLE_SCHEMA, '.', item().TABLE_NAME)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob",
									"type": "DatasetReference",
									"parameters": {
										"filePath": "@concat('exports/', item().TABLE_SCHEMA, '_', item().TABLE_NAME, '.csv')"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentTableName",
								"value": {
									"value": "@concat(item().TABLE_SCHEMA, '.', item().TABLE_NAME)\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"currentTableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-19T11:53:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}